[info][title]LOC Info[/title]-------------------------{{range .}}
LOC Sheed Id: https://docs.google.com/spreadsheets/d/{{.ID}}/edit
Updated Pull Request: {{.UpdatedPr}}
-------------------------{{end}}[/info]
